@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: white;
    opacity: 1;
    filter: blur(0px);
    transition-property: opacity, filter;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    
    scroll-behavior: smooth;

  }

}

.page-transition {
  opacity: 0;
  filter: blur(12px);
}

/* @layer utilities{
    .navbar {
        background-color: transparent;
        color: white;
        mix-blend-mode: exclusion;
        filter: grayscale(1)

    }
} */

#latest-releases {
  scroll-margin-top: 100px;
}

#artists {
  scroll-margin-top: 100px;
}


#events {
  scroll-margin-top: 100px;
}